@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: blanchedalmond;
    font-family: "Poppins", sans-serif;

}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;

}
.container{
    display: grid;
    place-items: center;
    background-color: black;
    height: 400px;
    width: 300px;
    border-radius: 5%;
}

.card{
    display: grid;
    place-content: center;
    text-align: center;
    height: 380px;
    width: 280px;
    outline: 3px solid indigo;
    border-radius: 3%;
}

.card img {
    height: 120px;
    width: 100px;
    border-radius: 5%;
    outline: 3px solid white;
    outline-offset: 2px;
    place-self: center;
    margin-bottom: 10px;
}